@charset "UTF-8";
/* CSS Document */

.sloganCabezote {
    font-family: 'Nunito', sans-serif;
    font-size: 17px;
    text-align: left;
    margin-top: 55px;
    color: gray;
    font-weight: 100;
    margin-left: 10px;
}

.redes{
    list-style: none;
    display: block;
    text-decoration: none;
    text-align: left;
}
.banner{
	background-image: url(../images/banner.png);
	width: 100%;
	height: 391px;
}
.tituloFormulario{
	font-family: 'Nunito', sans-serif;
    font-size: 28px;
    text-align: left;
    margin-top: 55px;
	color: #5a528a;
	font-weight: 100;
}
.subtituloFormulario{
	font-family: 'Nunito', sans-serif;
    font-size: 16px;
    text-align: left;
    margin-top: 30px;
	margin-bottom: 30px;
	color: #5a528a;
	font-weight: 100;
}
.lineaMorada{
	border-bottom: 1px solid #5a528a;
	margin-top: -13px;
}
.camposFormulario{
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #a9a9a9;
	border-radius: 0px !important;
    height: 45px;
    margin-top: 20px;
}
.camposFormulario:focus{
    border-color: #5a528a;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(90,82,138,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}

.btnCancelar {
	background-color: white;
	border: 1px solid #5a528a;
	color: #5a528a;
	text-align: center;
	font-size: 20px;
	font-family: 'Nunito', sans-serif;
	margin-top: 40px;
	width: 250px;
	height: 50px;
	padding-top: 10px;
}
.btnCancelar:hover{
    color: #fff;
    background-color: #5a528a;
    border-color: #5a528a;
}
.btnRegistrar{
	background-color: #5a528a;
	color: #FFF;
	text-align: center;
	font-size: 20px;
	font-family: 'Nunito', sans-serif;
	margin-top: 40px;
	width: 250px;
	height: 50px;
	padding-top: 10px;
}
.btnRegistrar:hover{
    color: #5a528a;
    background-color: white;
    border-color: #5a528a;
}
/*MENU*/
ul.menuHeader {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #48c9c8;
	margin-top: 20px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 19px;
    font-family: 'Nunito', sans-serif;
}

li a:hover {
    background-color: #6596C8;
    color: white;
    text-decoration: none;
}
.navbar-default {
    background-color: #FFFFFF;
    border-color: #FFFFFF;
}

/*<!-- ACCESOS DIRECTOS -->*/
.fondoAccesos {
    background-color: #f1fbfb;
    width: 100%;
    height: auto;
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*<!-- FOOTER -->*/
.fondoFooter{
	background-color: #48c9c8;
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
.txtFooter{
	font-family: 'Nunito', sans-serif;
	font-size: 12px;
	text-align: left;
	color: white;
	padding-top: 18px;
}

.linea{
    height: 70px;
    margin-top: 31px;
    border-right: 1px solid #e8e8e8;
}

.contactenos{
    height: 96px;
    padding-top: 48px;
    margin-right: 102px;
}

.textoC{
    font-size: 17px;
    color: #b7b7b7;
    padding-right: 10px;
}

.icon-Social{
    padding-right: 5px;
    color: gray;
}

.items {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    margin: 0px 0px;
    color: #797878;
}
.lineaAccesos{
    margin-top: 5px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
    width: 200px;
    margin-left: -2px;
}
.txtAccesos {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    text-align: left;
    color: gray;
    line-height: 10px;
    margin-left: -16px;
}
.txtContacto{
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    text-align: left;
    color: #5a528a;
    padding-top: 20px;
    padding-bottom: 20px;
}
.pasos{
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    text-align: left;
    color: #5a528a;
    padding-top: 60px;
    padding-bottom: 40px;
}

/* SUBIR ARCHIVOS */

table.vmiddle>tbody>tr>td{
 vertical-align:middle;    
}


.barra {
    color: #FFFFFF;
    display: block;
    font-weight: bold;http://bootsnipp.com/user/snippets/z79Nl#
    margin-bottom: -1px;
    height: 59px;
    text-align: center;
    font-size: 23px;
    background-color: #0072b0;
    line-height: 55px;
    position: relative;
}

.highlight {
    padding: 9px 14px;
    margin-bottom: 14px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
}

.archivo-ubicacion{
    overflow:hidden;
    height:35px;
}
.archivo-ubicacion div{
    height:100%;
    line-height:35px;
}

.archivo-ubicacion-label{
    font-weight:bold;
    font-size:15px;
}

.archivo-ubicacion-data{
    border:1px solid #ddd;
    border-left:0
}

.subir-archivos{
    background: #f8f8f8;
    padding-top: 10px;
    padding-bottom:10px;
    border-radius: 5px;
}


.carga-archivo-input {
    position: relative;
    overflow: hidden;
    margin: 0px;    
    color: #FFF;
    background-color: #48c9c8;
    border-color: #48c9c8;
}
.carga-archivo-input input[type=file] {
    position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.carga-archivo-input-title {
    margin-left:2px;
}
.inputCarga{
    background-color: white !important;
    border: none;
    border-bottom: 1px solid #a9a9a9;
}

/* estilos ajustados para el nuevo diseño de landinpage*/

.footer {
	padding: 19px 0 10px 0;
	background: #333333;
	color: white;
	text-align: center;
}

.slogan {
	font-family: "nunito, extraBold",Helvetica,Arial,sans-serif;
	color: #5a528a;
	text-align: left;
	font-size: 21px !important;
	font-weight: bold;
    padding-top: 18px;
    padding-left: 13px;
}  

.test {
    height: 79px;
    width: 0px;
    border-left: 4px solid #5a528a;
    margin-top: 5px;
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}

#barraNavegacion {
	margin-bottom: 0px !important;    
}

#logoCabezote {
    width: 100%;
    height: 84px;
}

.textoTituloPreregistro {
    font-family: "nunito, extraBold",Helvetica,Arial,sans-serif;
    color: #5a528a;
    text-align: right;
    font-size: 21px !important;
    font-weight: bold;
    padding-top: 35px;
}

.container {
    max-width: 970px;
}

@media (max-width: 576px) {
    .hidden-sm { display: none !important; }
  }
@media (min-width: 576px) and (max-width: 992px){
.hidden-md { display: none !important; }
}
@media (min-width: 992px) {
.hidden-lg { display: none !important; }
}

@font-face {
    font-family: 'nunito, light'; /*a name to be used later*/
    src: url('../fonts/Nunito-Light.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'nunito, regular'; /*a name to be used later*/
    src: url('../fonts/Nunito-Regular.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'nunito, black'; /*a name to be used later*/
    src: url('../fonts/Nunito-Black.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'nunito, extraBold'; /*a name to be used later*/
    src: url('../fonts/Nunito-ExtraBold.ttf'); /*URL to font*/
}

p{
	font-family: 'nunito, regular';
	font-size: 16px;
}